.login_page {
  display: flex;
  justify-content: center;
  background-image: url("https://cdn.pixabay.com/photo/2023/04/19/12/50/flowers-7937665_1280.jpg");
  height: 100vh;
  background-size: cover;
}
.login_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
